
body {
    background-image: url(../img/Profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
img {
    width: 100px;
}
.animate__animated.animate__fadeInLeft {
    --animate-duration: 1.5s;
} 
.container #img{
    width: 500px;
}
.icono{
    font-size: 100px;
}
.botones{
    background-color: #0c1542;
    color: white;
}
.modal-header{
    background-color:red;    
}
.textito{
    color: white;
}
.btn-success{
    background-color: #2db973;
}
